<div class="text-center">
  <% @messages.each do |message| %>
  <div>
  <ul style="list-style: none">
    <% if message.artist %>
      <li><%= message.artist.name %></li>
    <% end %>
    <% if message.user %>
      <li><%= message.user.name %></li>
    <% end %>
      <% if message.created_at %>
      <li><%= message.created_at.strftime("%M/%d/%Y") %> at <%= message.created_at.strftime("%H:%M") %></li>
      <% end %>
      <li><%= message.body %></li>
  </ul>
    <% if message.photo %>
      <%= cl_image_tag message.photo.path, width: 200, height: 200, crop: :thumb %>
    <% end %>

  <% end %>
  </div>
</div>

<% if @messages.count >= 1 %>
  <%= render partial: "messages/form2", locals: { messages: @messages} %>
<% else %>
  <%= render partial: "messages/form1", locals: { messages: @messages} %>
<% end %>




