<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <h3>Welcome, <%= current_artist.name %>!</h3>


      <%= link_to "Upload photos of your work", new_artist_tattoo_path(current_artist) %>
</div>

<div>
  <%= week_calendar number_of_weeks: 1, events: current_artist.bookings do |date, bookings| %>
  <%= date %>
    <% bookings.each do |booking| %>
    <div class="cal-event">
      <%= booking.start_time.strftime("%H:%M") %>-<%=booking.end_time.strftime("%H-%M")  %> (<%= booking.user.name %>)
    </div>
    <% end %>
  <% end  %>
  <div class="text-center">
    <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Monthly  Calendar</button>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= month_calendar events: current_artist.bookings do |date, bookings| %>
       <%= date %>
      <% bookings.each do |booking| %>
      <div class="cal-event">
      <%= booking.start_time.strftime("%H:%M")%>-<%= booking.end_time.strftime("%H:%M")%> (<%= booking.user.name %>)
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>










